{% load i18n %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
{% load cache %}
    {% cache 30 header %}
        {% block header %}
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
   <div class="container">
       <a class="navbar-brand" href="#">Фанатский сервер</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse"
               data-target="#navbarResponsive"
               aria-controls="navbarResponsive" aria-expanded="false"
               aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarResponsive">
           <ul class="navbar-nav ml-auto">
               <li class="nav-item">
                   <a class="nav-link" href="/news/">Новости</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="/news/search">Поиск</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="/news/login">Profile</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="/news/create">CREATE</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="/news/mail">MAIL</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="/accounts/logout">Exit</a>
               </li>
           </ul>
       </div>
   </div>
</nav>
        <!-- Page content-->
<div class="container">
   <div class="row">
       <div class="col-lg-12 text-center">
           {% block content %}
           {{ flatpage.content }}
           {% endblock content %}
       </div>
   </div>
</div>
    </body>
        {% endblock header %}
    {% endcache %}
</html>